{{ if and .Site.Params.giscus.enabled (not .Params.disable_comments) }}
<div class="comments-section">
    <h3 class="comments-title">Comments</h3>
    <script src="https://giscus.app/client.js"
            data-repo="{{ .Site.Params.giscus.repo }}"
            data-repo-id="{{ .Site.Params.giscus.repo_id }}"
            data-category="{{ .Site.Params.giscus.category }}"
            data-category-id="{{ .Site.Params.giscus.category_id }}"
            data-mapping="{{ .Site.Params.giscus.mapping }}"
            data-strict="0"
            data-reactions-enabled="{{ if .Site.Params.giscus.reactions_enabled }}1{{ else }}0{{ end }}"
            data-emit-metadata="{{ if .Site.Params.giscus.emit_metadata }}1{{ else }}0{{ end }}"
            data-input-position="{{ .Site.Params.giscus.input_position }}"
            data-theme="{{ .Site.Params.giscus.theme }}"
            data-lang="{{ .Site.Params.giscus.lang }}"
            crossorigin="anonymous"
            async>
    </script>
</div>
{{ end }}
